* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Start */
header .navbar-collapse i {
    color: #717478 !important;
    font-size: 22px;
}

header .navbar-nav .nav-item i {
    font-size: 25px;
}

header .navbar-nav .nav-item a {
    font-size: 18px;
}

/* Header End */
/* details Start */

.details .detail .content h2 {
    font-size: 35px;
    font-weight: 500;
}

.details .detail .content h3 {
    font-weight: 400;
    font-size: 25px;
}

.details .detail .content button {
    border: 0;
    background-color: #000000;
    padding: 15px 30px;
    border-radius: 25px;
    color: whitesmoke;
}

.details .title h2 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.details .item {
    text-decoration: none;
    color: unset;
}

.img{
    width: 50% !important;
}
.img img{
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.p-img{
    border-radius: 20px;
}
/* details End */